.myNavbar{
    height: 10rem;
    background: lightblue;
height: 12rem;
}



.btn-cntr{
    display:flex;
    justify-content: center;
    margin-top: 3rem;

}

.date-btn{
    background: maroon;
    width: 10rem;
    font-size: 1.5rem;
    color: white;
    border: 0.5rem solid lightblue;
   
}

.name-cntr{
    display: flex;
    justify-content: center;
    
}

.result-name{
    font-size: 1rem;
}

.res-img-cntr{
    display: flex;
    justify-content: center;
   
   
}

.result-image{
    border: 1.5rem solid  lightblue;
}

.span-txt{
    font-family: brush script mt;
    font-size: 2rem ;
}
